<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        
            input[type=text] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }

        
    </style>
</head>
<h1>Pfunani Feneral Plans</h1>
<body>
    <form action="addmainmemberform" method="post">
     <input type="text" name="policynumber" placeholder="Policy Number" /><br />
        <input type="text" name="receiptnumber" placeholder="Receipt Number" /><br />
        <input type="text" name="title" placeholder="Title" /><br />
        <input type="text" name="mainmemberfirstname" placeholder="First Name" /><br />
        <input type="text" name="mainmemberlastname" placeholder="Last Name"/><br />
               <select name="funeralplan">
            <option>Emerald Plan</option>
            <option>Elegance Plan</option>
            <option>Mozambique Plan</option>
            <option>Swaziland Plan</option>
        </select><br />
       <input type="text" name="idnumber" placeholder="ID Number" /><br />
        <input type="text" name="hometelno" placeholder="Home Tel No." /><br />
        <input type="text" name="worktellno" placeholder="Work Tel No." /><br />
        <input type="text" name="cellnumber" placeholder="Cell Number"/><br />
        <input type="text" name="occupation" placeholder="Occupation " /><br />
          <input type="file" id="myFile" name="uploadid">
        <input type="submit" value="Save Main Member" />
    </form>
</body>




</html>